nav {
    background-color: #fda955;
    font-family: "Rubik", sans-serif;
}

.burgerMenuIcon {
    stroke: #56c1e6 !important;
}
.languageIcon:hover {
    stroke: #fda955 !important;
}

.signupBtn {
    border-radius: 30px;
    width: 80px;
    height: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
}
.signupBtn:hover {
    background: #f2c99ac4;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    color: #2e7eaa;
    line-height: 20px;
    letter-spacing: 0;
}

.signUp-btn {
    background: #ffffff;
    box-shadow: 2px 2px 0px #1a1a1a;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 0.794rem;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 8px;
}

.logIn-btn {
    background: #2f7da9;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 0.794rem;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    letter-spacing: 0.11px;
    color: #ffffff;
    margin: 8ox;
}

.dropdownMenu {
    border: 1px solid black;
}
